.nav {
    border: 6px outset pink;
    margin: 2px;
    padding: 5px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}
.nav > .nav-item > a {
    border: 1px outset hotpink;
    padding: 4px; 
    text-decoration: none;
    background-color: rgb(243, 157, 171);
}
.nav > .nav-item > a:hover {
    background-color: rgb(191, 227, 241)
}