.nav {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}
.nav > .nav-item > a {
    padding: 5px; 
    text-decoration: none;
    background-color: chocolate
}
.nav > .nav-item > a:hover {
    background-color: pink;
}